.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1693px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/atkinson%20coms%20resume-3000h.jpg");
}
.home-container2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1693px;
  display: none;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/atkinson%20coms%20resume-3000h.jpg");
}
@media(max-width: 991px) {
  .home-container1 {
    width: 100%;
    height: 2970px;
  }
  .home-container2 {
    width: 100%;
    height: 2576px;
    display: flex;
    background-position: right;
  }
}
@media(max-width: 767px) {
  .home-container1 {
    width: 100%;
    height: 2270px;
  }
  .home-container2 {
    width: 100%;
    height: 2013px;
    display: flex;
    background-position: top right;
  }
}
@media(max-width: 479px) {
  .home-container1 {
    width: 100%;
    height: 1384px;
    margin-bottom: 1px;
  }
  .home-container2 {
    width: 100%;
    height: 1296px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0px;
    justify-content: flex-start;
    background-position: right;
  }
}
